{% extends 'table_app/base.html' %}
{% load static %}
{% block title %}View Category{% endblock %}

{% block content %}
    <h2>List of all available categories</h2>
    {% comment %} <table>
        <tr>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
        {% for category in object_list %}
            <tr>
                <td>{{ category.id }}</td>
                <td>{{ category.category_name }}</td>
                <td>
                <a href="/edit-category/{{ category.id }}"">Edit</a>
                <a href="/delete-category/{{ category.id }}">Delete</a>
                </td>
            </tr>
        {% endfor %}
    
    </table> {% endcomment %}

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
            <div class="card">
              <div class="card-header">
                {% comment %} <h3 class="card-title">List of all available categories</h3> {% endcomment %}
              </div>
              <!-- /.card-header -->
              <div class="card-body">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                  <tr>
                    <th>Category ID</th>
                    <th>Category Name</th>
                    <th>Actions</th>
                  </tr>
                  </thead>
                  <tbody>
                 
                {% for category in object_list %}
                    <tr>
                        <td>{{ category.id }}</td>
                        <td>{{ category.category_name }}</td>
                        <td>
                        {% comment %} <a class="btn btn-warning" href="{{ category.id }}/update">Edit</a> {% endcomment %}
                        {% comment %} <a class="btn btn-warning" href="edit-category/{{ category.id }}">Edit</a> {% endcomment %}
                        <a class="btn btn-warning" href="{% url 'update-category' category.id %}">Edit</a>
                        {% comment %} <a class="btn btn-danger" href="/delete-category/{{ category.id }}">Delete</a> {% endcomment %}
                        <a class="btn btn-danger" href="{% url 'delete-category' category.id %}">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
                 
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->
      </div>
      <!-- /.container-fluid -->
    </section>

    
{% endblock content %}